.img-loading {
  position: relative;
  transition: all 0.25 linear;
  &::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: inherit;
    border-radius: inherit;
  }
}
.gray-svg {
  background: #eee;
}